<!DOCTYPE html>
<html>
<head>
    <title>Tact-Di</title>
    <link rel="stylesheet" type="text/css" href="../static/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/node_modules/bootstrap/js/modal.js"></script>
    <script type="text/javascript" src="https://dme0ih8comzn4.cloudfront.net/imaging/v3/editor.js"></script>
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <style>
        body {
            text-align: center;
        }

        progress {
            display: block;
            margin: 0 auto 10px auto;
            width: 80%;
        }
    </style>


</head>

<body class="container" style="background-color:#0f586c;">
	<div class="row">
        <div class="col-md-1"></div>
		<div class="col-md-10 text-center" >
			<a href="/"><img src="../static/Tact-di-home-logo.png"></a>
            <br><br>
		</div>
        <br>
        <br>
        <div class="col-md-1" style="position:absolute;top:10px;right: 10px;">
            <a id="about-this-demo-button" class="btn btn-link btn-block " data-toggle="modal" data-target="#more-info-modal"  style="color:white;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Help?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
        </div>
	</div>


<br><br><br><br>
<img src="../static/download1.png" alt="" />
<br><br>

<div class="col-md-4"></div>
<div class="col-md-4">
    <a href=/static/stl_files/edited-image.stl target="_blank"  class="btn btn-success btn-block btn-lg ">
        <span class="glyphicon glyphicon-save pull-left padleft" aria-hidden="true"></span>Download STL
    </a>

</div>

<div id="more-info-modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
	    	<div class="modal-content">

	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Help</h4>
	      		</div>

	      		<div class="modal-body">
	        		<h3>Welcome to Tact-Di</h3>
					<p>This is a web application for edting and converting image to tactile format.</p>

					<h3>Steps:</h3>
					<p>
						<ol>
							<li>Upload Image</li>
							<li>Edit Image</li>
							<li>Select Model</li>
							<li>Convert Image to STL</li>
							<li>Download STL File</li>
						</ol>
					</p>

					<h3>Contributors</h3>
					<!--<p>Our thanks to </p> -->

					<ul>
						<li><a href="https://github.com/paragj96">Parag Jain</a></li>
						<li><a href="https://github.com/bhakti21mantri">Bhakti Mantri</a></li>
					</ul>


	      		</div>

	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		    	</div>

	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div>
</body>
</html>